{% extends 'core/base.html' %}
{% load static %}
{% block content %} 
<div class="mt-5">
 <div class="text-center">
  <img src="{% static 'core/images/pic2.jpg' %}" alt="ProfilePic" class="img-thumbnail" width="250px" height="150px">
 </div>
 <div class="mt-5 text-white mx-5 text-justify">
  <h1 class="font-weight-bold st-font">Hello,</h1>
  <div class="px-4" style="line-height:2rem;">
   <p style="text-indent:100px;"> I am <b class="text-warning">Nitin Jadhale</b> Looking for a job in data science, I offer the technical expertise you are seeking for data scientist position.</p>
   <p>Looking for a challenging role in a reputable organization to utilize my  <b class="text-warning">Python Data science / Machine learning / ETL / Django REST Web</b> skills for the growth of the organization as well as to enhance my knowledge about new and emerging trends in the IT sector.</p>
   <p>Highly motivated individual
    with strong statistical Analysis skills, attention to detail, and a solid Coding background looking to obtain a position of<b class="text-warning"> Data Scientist / Web Developer Specialist</b>.</p>
  </div>
 </div>
 <div class="text-center">


  <a href="https://bit.ly/3fX5Tyy" target="_blank" class="btn btn-outline-warning my-3 mr-5">Hire me</a>
  <a href="https://docs.google.com/document/d/1Ktod7ZZQqSHNdoo6oDYOpqqwEw0Y6MXTKjqiZCEnaPA/edit?usp=sharing" target="_blank" class="btn btn-outline-warning my-3 mr-5">Resume</a>
  <a href="https://github.com/Codeneverliees?tab=repositories" target="_blank" class="btn btn-outline-info my-3 mr-5">Github</a>
  <a href="https://mail.google.com/mail/u/0/#inbox?compose=GTvVlcSMTgvBCSrphzxbtNGwgTRmKLBdRvNBhHgTgJhHRtLRGPWCFkSMhBXdnCKnWqSNtxLJwbSvc" target="_blank" class="btn btn-outline-info my-5 mr-5">Drop an eMail</a>

 </div>
</div>
{% endblock content %}