{% extends 'core/base.html' %}
{% block content %}
<div class="container mt-4">
 <h1 class="text-warning mb-5 border-bottom">Projects</h1>

 <div class="row text-center text-white mb-5">
  <div class="col-sm-4">
   <h3>Book recommendation system</h3>
   <p class="ss-color">Book recommendation system based on top 50 popular books considering ratings from genuine users</p>
   <h3><a href="https://github.com/Codeneverliees/book-recommendation-system" target="_blank" class="btn btn-outline-info my-3 mr-1">Book recommendation system</a></h3>
  </div>
  <div class="col-sm-4">
   <h3>Web Scrapping project </h3>
   <p class="ss-color">Web scrapping using beautiful soup library</p>
   <a href="https://github.com/Codeneverliees/web-scrapping-" target="_blank" class="btn btn-outline-info my-3 mr-1">Github Link</a>
  </div>
  <div class="col-sm-4">
   <h3>Car Price Prediction</h3>
   <p class="ss-color">Car Price Prediction using RandomForestRegression Model</p>
   <h3><a href="https://github.com/Codeneverliees/car-price-prediction" target="_blank" class="btn btn-outline-info my-3 mr-1">Github Link</a></h3>
  </div>
 </div>

 <div class="row text-center text-white mb-5">
  <div class="col-sm-4">
   <h3>Laptop Price Predictor</h3>
   <p class="ss-color"></p>
   <h3><a href="https://github.com/Codeneverliees/laptop-price-prediction" target="_blank" class="btn btn-outline-info my-3 mr-1">Github Link</a></h3>
  </div>
  <div class="col-sm-4">
   <h3>Tableau project report</h3>
   <p class="ss-color"></p>
   <h3><a href="https://github.com/Codeneverliees/car-price-prediction" target="_blank" class="btn btn-outline-info my-3 mr-1">report</a></h3>
  </div>

 </div>

 <div class="row text-center text-white mb-5">
  <div class="col-sm-4">

   <p class="ss-color"></p>
   <a href="https://github.com/Codeneverliees?tab=repositories" target="_blank" class="btn btn-outline-info my-3 mr-1">Github Repository</a>
  </div>
 </div>

</div>
{% endblock content %}